body {
    font-family: "Roboto Light";
    font-size: 14px;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #b6dbff 10%, #edb0c1 90%);
    height: 100vh
}
.title{
    color: #0b168d;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.description{
    font-size: 15px;
}

.creat{
    font-size: 15px;
    border-style: none;
    border-radius: 5px;
    background-color: #ecb9c7;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}