<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{../static/css/home.css}" href="../static/css/home.css">
    <title th:text="#{home}">Home</title>
</head>
<body class="user__header">

<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt=""/>

<h2 class="user__title" th:text="#{name}">User name:</h2>
<h2 th:text="${user.name}"></h2>
<h2 class="user__title" th:text="#{lastName}">User Lastname:</h2>
<h2 th:text="${user.lastName}"></h2>
<h2 class="user__title" th:text="#{age}">User age:</h2>
<h2 th:text="${user.age}"></h2>

<form action="/poll" method="get">
    <input class="submit" type="submit" th:value="#{poll}"/>
</form>
<form action="/logout" method="post">
    <input class="submit" type="submit" th:value="#{logout}"/>
</form>

</body>
</html>