<!DOCTYPE html>
<html lang="ru"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/poll.css" th:href="@{../static/css/poll.css}">
    <title th:text="#{pollSelection}">Poll Selection</title>
</head>
<body>
<div th:each="poll : ${polls}">
    <img th:src="${poll.getImgUrl()}" alt="img"  style="width: 100%" , height="150">
    <a  th:href="@{/questions/{pollId}(pollId=${poll.getId()})}" th:text="${poll.getName()}"  class="title">poll</a>
    <p class="description" th:text="${poll.getDescription()}">value </p>
</div>
</body>
</html>