<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{./static/css/register.css}" href="../static/css/register.css">
    <title>Register</title>
</head>
<body>
<div class="user">

    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
        <h1 class="user__title" > Please fill in this form to create an account. </h1>
    </header>

    <form   class="form" th:method="POST" th:action="@{/register}" >
        <div class="form__group">
            <input class="form__input"  type="text" placeholder="Name" name="name" id="name" required>
        </div>

        <div class="form__group">
            <input class="form__input" type="text" placeholder=" Lastname" name="lastName" id="lastname" >
        </div>

        <div class="form__group">
            <input class="form__input"  type="text" placeholder="Age" name="age" id="age">
        </div>

        <div class="form__group">
            <input class="form__input"  type="text" placeholder="Email" name="email" id="email">
        </div>

        <div class="form__group">
            <input class="form__input"  type="text" placeholder="Enter Username" name="userName" id="uname">
        </div>

        <div class="form__group">
            <input class="form__input"  type="password" placeholder="Enter Password" name="password" id="password">
        </div>

        <button type="submit" class="btn" >Register</button>
    </form>
</div>

</body>
</html>
